.nm-blue {
	color: #3f6e87;
}

.nm-dark-pink {
	color: #8e225c;
}

.nm-soft-pink {
	color: #e55b94;
}

.nm-dark-cyan {
	color: #00937f;
}

.nm-soft-cyan {
	color: #75ccb8;
}

.nm-soft-red {
	color: #e06645;
}

.nm-light-orange {
	color: #ffa984;
}

.nm-dark-yellow {
	color: #9c8c42;
}

.nm-soft-yellow {
	color: #e1c94b;
}